MONGODB_URL=mongodb://localhost:27017
MONGODB_NAME=member_db

PORT=7000
JWT_SECRET_KEY=supersecretkey123
BASIC_AUTH_USERNAME=basic
BASIC_AUTH_PASSWORD=secretpass

MINIO_ENDPOINT=localhost
MINIO_PORT=9900
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=admin123